
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 15%;
    min-height: 100vh;
    box-sizing: border-box;
}

.mainHome {
    background-color:rgb(128, 237, 153, 0.05);
}

.jeTrieHome {
    background-color: rgb(186, 104, 200, 0.05);
}

.jeCuisineHome {
    background-color: rgb(255, 193, 0, 0.05);
}

section {
    flex: 1;
    min-width: 280px;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}


p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
    margin: 30px 0;
}

.mainHome p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 450px;
    margin: 30px 0;
}

.mainHome button {
    background-color: #5be189;
    color: black;
    border: none;
    padding: 10px 60px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

button{
    color: #3F56ED;
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}


img {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.jeCuisineHome img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  

  .searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    border: 3px solid #b76fd0;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 40px;
  }
  .searchContainer .JeCuisine{
    border: 3px solid #b76fd0;
  }
  
  .searchInput {
    flex: 1;
    border: none;
    padding: 5px 15px;
    outline: none;
    font-size: 15px;
  }
  
  .searchButton{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchButton .JeCuisine{
    background-color: #78600f;
  }
  .searchButton .JeCuisine{
    background-color: #b76fd0;
  }
  
  
