body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 15%;
  min-height: 100vh;
  box-sizing: border-box;
}

.mainHome {
  background-color: rgb(128, 237, 153, 0.05);
}

.jeTrieHome {
  background-color: rgb(186, 104, 200, 0.05);
  margin-top: -80px;
  height: '100%';
}

.jeCuisineHome {
  background-color: rgb(255, 193, 0, 0.05);
}

section {
  flex: 1;
  min-width: 280px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 600px;
  margin: 30px 0;
  text-align: center;
}

.mainHome p {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 450px;
  margin: 30px 0;
}

.mainHome button {
  background-color: #5be189;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}



.startBtn {
  background-color: #5be189;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
}

.jeCuisineHome img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.inputWrapper {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  width: 500px;
  height: 50px;
}

.jeCuisineHome .inputWrapper {
  border: 3px solid #ffc107;
}

.jeTrieHome .inputWrapper {
  border: 3px solid #ba68c8;
}

.fileInputLabel {
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex: 1;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.sendButton {
  border: none;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jeCuisineHome .sendButton {
  background-color: #ffc107;
}

.jeTrieHome .sendButton {
  background-color: #ba68c8;
}

.fileName {
  margin-left: 10px;
  font-size: 14px;
  color: #2e2e2e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.placeholderText {
  margin-left: 10px;
  font-size: 14px;
  color: #858585;
}

.preview-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.preview-image {
  max-width: 150px;
  border-radius: 20px;
}

.close-preview-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #333;
}

.loadingText {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #ba68c8;
  font-weight: 500;
  margin-top: -5px;
  margin-left: 5px;
  animation: pulse 1.5s infinite;
  text-align: left;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.contact-link {
  text-decoration: none;
  color: #34C759;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #80ED99;
}


@media (max-width: 768px) {
  article {
    flex-direction: column;
    padding: 10% 5%;
    text-align: center;
  }

  section {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  .title-page{
    padding-top: 5rem; /* Emy ou Kelly : Rustine pour l'instant (le titre <h1>je trie <h1/> sur le page Jetrie.jsx ne s'affiche pas de la mm maniere que sur Je-cuisine*/
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    max-width: 100%;
  }


  img {
    max-width: 90%;
    margin: 0 auto;
  }

  .jeCuisineHome img {
    max-width: 80%;
  }



  .fileName,
  .placeholderText {
    font-size: 12px;
    max-width: 100%;
  }




  .loadingText {
    font-size: 14px;
  }


.fileInputLabel {
  height: 48px;
  border-radius: 12px;
  padding: 0 12px;
  display: flex-end;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.sendButton {
  height: 100%;
  width: 20%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba68c8;
  border: none;
  color: white;
}

}


