body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 15%;
  min-height: 100vh;
  box-sizing: border-box;
}

.mainHome {
  background-color: rgb(128, 237, 153, 0.05);
}

.jeTrieHome {
  background-color: rgb(186, 104, 200, 0.05);
}

.jeCuisineHome {
  background-color: rgb(255, 193, 0, 0.05);
}

section {
  flex: 1;
  min-width: 280px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 600px;
  margin: 30px 0;
}

.mainHome p {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 450px;
  margin: 30px 0;
}

.mainHome button {
  background-color: #5be189;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

button {
  color: #3f56ed;
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.startBtn {
  background-color: #5be189;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
}

.jeCuisineHome img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
.searchContainer {
    display: flex;
    align-items: center;
    margin: 20px;
}

.inputWrapper {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 500px;
    height: 50px;
}

.jeCuisineHome .inputWrapper {
    border: 3px solid #ffc107;
}

.jeTrieHome .inputWrapper {
    border: 3px solid #BA68C8;
}

.fileInputLabel {
    display: flex;
    align-items: center;
    padding: 0 16px;
    flex: 1;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.sendButton {
    border: none;
    width: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeCuisineHome .sendButton {
    background-color: #ffc107;
}

.jeTrieHome .sendButton {
    background-color: #BA68C8;
}

.fileName {
    margin-left: 10px;
    font-size: 14px;
    color: #2e2e2e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.placeholderText {
    margin-left: 10px;
    font-size: 14px;
    color: #858585;
}

.contact-link {
  text-decoration: none;
  color: #34C759;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #80ED99;
}
